################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Governance_tool/.vs/Governance_tool/FileContentIndex/44aa74f1-07f3-4031-b149-c6a6bb106eee.vsidx
/Governance_tool/.vs/Governance_tool/FileContentIndex/5cc17cd2-e97d-4c14-8dd0-f6f64f639556.vsidx
/Governance_tool/.vs/Governance_tool/FileContentIndex/9afdab15-ecca-4003-a814-f2fca00e54bc.vsidx
/Governance_tool/.vs/Governance_tool/FileContentIndex/9ce7a383-3951-4d1e-853a-877f56c106dd.vsidx
/Governance_tool/.vs/Governance_tool/FileContentIndex/d098674b-2cbb-4f9c-a63a-aa37545b23c7.vsidx
/Governance_tool/.vs/Governance_tool/FileContentIndex/2ceab7ff-1848-42eb-bb62-a63e8c52c9b9.vsidx
