################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Governance_tool/.vs/Governance_tool/FileContentIndex/44aa74f1-07f3-4031-b149-c6a6bb106eee.vsidx
