################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Governance_tool/.vs/Governance_tool/FileContentIndex/44aa74f1-07f3-4031-b149-c6a6bb106eee.vsidx
/Governance_tool/.vs/Governance_tool/FileContentIndex/5cc17cd2-e97d-4c14-8dd0-f6f64f639556.vsidx
/Governance_tool/.vs/Governance_tool/FileContentIndex/9afdab15-ecca-4003-a814-f2fca00e54bc.vsidx
